"*":
  core:
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "2f2c70d4-6778-46bd-a3f3-b46cebf6ae68"
  welcome:
    showOnStartup: false
